body {
  background-color: #f7d5ef;
    
}

img {
  height: 450px;
  width: 850px;
}


h2 {
  font-family: 'Arimo', sans-serif;
  font-weight: bolder;
  text-decoration: underline;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.container-1 { 
  display: flex;
  justify-content:center;
  padding: 20px;
  display: block;
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Arimo', sans-serif;
  font-size: 80px;
}

.container-2 {
  display: flex;
  justify-content: center;
  background-color: #b2a6e0;
  height: 324px;
  width: 850px;
  flex-direction: row;
  border: solid white 2px;
 
  
}

.box-1 {
  margin-right: 20px;
  width: 270px;
  
}

.box-2 {
  margin-right: 20px;
  width: 270px;

}

.box-3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 270px;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}